/* Estilos generales */
body {
    position: relative; 
    font-family: "SUSE", sans-serif;
    color: #eee;
    background: url('../images/fondoMisAutos.jpg') center / cover fixed;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    color: white;
    text-align: center; /* Asegura que el logo esté centrado */
    padding: 10px 0; /* Añade un poco de espacio */
}

h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 2em; /* Ajusta el tamaño para que no sea demasiado grande */
    text-transform: uppercase;
    font-weight: 700;
}

.logo {
    width: 120px; /* Ajusta el tamaño del logo */
    filter: drop-shadow(8px 8px 5px #fffb);
}

.autos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px;
}

/* Tarjetas de autos */
.auto-card {
    background-color: rgba(0, 0, 0, 0.6); 
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0px 0px 25px #000;
    flex: 1 1 300px; /* Flexibilidad para adaptarse a diferentes tamaños */
    max-width: 330px; /* Ancho máximo de la tarjeta */
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    color: #eee;
}

.auto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 35px #fff;
}

/* Títulos y detalles de las tarjetas */
.auto-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

.auto-card p {
    font-size: 1em;
    color: #ddd;
    margin: 8px 0;
}

/* Botón de mantenimientos */
.btn-mantenimientos {
    background-color: rgb(74, 73, 73);
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-mantenimientos:hover {
    background-color: #ee4040;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .autos-container {
        padding: 10px;
        gap: 15px;
    }

    .auto-card {
        flex: 1 1 100%; /* Ocupa todo el ancho disponible en pantallas medianas */
        max-width: 100%; /* Asegura que las tarjetas se ajusten al ancho del contenedor */
    }

    h1 {
        font-size: 1.8em; /* Ajusta el tamaño del encabezado */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em; /* Ajusta el tamaño del encabezado para móviles */
    }

    .logo {
        width: 100px; /* Ajusta el tamaño del logo */
    }

    .auto-card {
        padding: 15px;
    }

    .auto-card h2 {
        font-size: 1.3em;
    }

    .btn-mantenimientos {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}
